/* 
 * tutor.css
 *
 * vim: set ts=2 sts=2 et:
 */

body { margin:1.5em 0; line-height:1.625em; }

h1 { text-decoration: none; }

a { text-decoration: none; }

.container { width:750px; }

.errorlist { color:red; list-style-type: none; margin: 0 0 0.5em 0; }

table.results { border: 1px solid #ddd; border-collapse: collapse; }
.results th { border: 1px solid #ddd; }
.results td { border: 1px solid #ddd; }

/* Pre-blueprint stuff */

label {
    color: black !important;
}

.instructions {
/*  font-weight: bold; */
  font-style: italic;
  color: #666666;
  margin: 5pt 0pt 10pt 0pt;
}

label.stimulus_roman {
  font-size: 120%;
}

.stimulus-cjk {
  margin: 5pt 0pt;
}

.stimulus-cjk label {
  color: black;
  font-size: 150%;
}

p.score {
  font-size: 150%;
}

form.navigation {
  display: inline;
}

.option-choices-roman {font-size:100%; vertical-align:middle;}
.option-choices-cjk {font-size:140%; vertical-align:middle;}

.success {color:blue;}
.failure {color:red;}
.feedback {color:red;}

.mc-select {
  color: black;
  display: inline;
  list-style: none inside;
  margin: 0pt 0pt 5pt 0pt !important;
  padding: 0pt !important;
}

.mc-select ul {
  list-style-type: none;
}

td.test-set {
  padding: 10px 0px;
  border-bottom: 1px solid #ddd !important;
}

tr.correct {
}

tr.incorrect {
  background-color: #ffffaa !important;
}
