{% extends "base.html" %}

{% block title %}Basic statistics{% endblock %}

{% block content %}
<h2>Basic statistics</h2>

<p>The following statistics are based on the number of active users, where an
active user is one that has completed at least one test.</p>

<table class="results">
  <tr>
    <th rowspan="2">Log range</th>
    <td>From:</td>
    <td colspan="2">{{log_start_time}}</td>
  </tr>
  <tr>
    <td>To:</td>
    <td colspan="2">{{log_end_time}}</td>
  </tr>
  
  <tr>
    <th>Active users:</th><td colspan="3">{{num_users}}</td>
  </tr>

  <tr>
    <th rowspan="2">Tests:</th>
    <td><u>Total</u></td><td colspan="2">{{num_tests}}</td>
  </tr>
  <tr>
    <td>Per user</td><td colspan="2">{{tests_per_user|floatformat:2}}</td>
  </tr>
  
  <tr>
    <th rowspan="2">Time between tests:</th>
    <td>Mean</td><td colspan="2">{{mean_tbt|floatformat:2}} days</td>
  </tr>
  <tr>
    <td>Stddev</td><td colspan="2">{{std_tbt|floatformat:2}} days</td>
  </tr>

  <tr>
    <th rowspan="2">Total period of use:</th>
    <td>Mean</td><td colspan="2">{{time_used_mean|floatformat:2}} days</td>
  </tr>
  <tr>
    <td>Stddev</td><td colspan="2">{{time_used_std|floatformat:2}} days</td>
  </tr>
  
  <tr>
    <th rowspan="{{test_dist|length|add:"1"}}">Test sizes:</th>
    <th># items</th>
    <th>Proportion of tests</th><th>Completion rate</th>
  </tr>
  {% for sample, freq, completion_rate in test_dist %}
  <tr>
    <td>{{sample}}</td>
    <td>{{freq|floatformat:2}}%</td>
    <td>{{completion_rate|floatformat:2}}%</td>
  </tr>
  {% endfor %}

  <tr>
    <th rowspan="3">Responses:</th>
    <td><u>Total</u></td>
    <td colspan="2">{{num_responses}}</td>
  </tr>
  <tr>
    <td>Per user</td>
    <td colspan="2">{{responses_per_user|floatformat:2}}</td>
  </tr>
  <tr>
    <td>Per test</td>
    <td colspan="2">{{responses_per_test|floatformat:2}}</td>
  </tr>
  
  <tr>
    <th>Mean score:</th><td colspan="3">{{mean_score|floatformat:2}}</td>
  </tr>
</table>

{% endblock %}
