{% extends "base.html" %}

{% block title %}Graphs{% endblock %}

{% block super_content %}
<div class="column span-19 last">
<h2>Graphs</h2>
</div>
<div class="column span-5">
<b>{{column_1.title}}</b>
<ul>
{% for short_name, desc in column_1.charts %}
  <li>
    <a href="{% url analysis_chart short_name %}">{{desc}}</a>
  </li>
{% endfor %}
</ul>
</div>

<div class="column span-5 prepend-2">
<b>{{column_2.title}}</b>
<ul>
{% for short_name, desc in column_2.charts %}
  <li>
    <a href="{% url analysis_chart short_name %}">{{desc}}</a>
  </li>
{% endfor %}
</ul>
</div>

<div class="column span-5 prepend-2 last">
<b>{{column_3.title}}</b>
<ul>
{% for short_name, desc in column_3.charts %}
  <li>
    <a href="{% url analysis_chart short_name %}">{{desc}}</a>
  </li>
{% endfor %}
</ul>
</div>

{% if chart %}
<div class="column span-19 last">
  <div id="chartarea">
    <h3 id="charttitle" style="text-align:center">{{desc}}</h3>
    <div id="simplechart">
      {% autoescape off %}
      <img src="{{chart.get_url}}" width="750" height="375" />
      {% endautoescape %}
      <p align="center">
        <a href="{% url analysis_data_base %}{{name}}.csv">
          Download as csv
        </a>
      </p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
