{% extends "base.html" %}

{% block title %}Graphs{% endblock %}

{% block extra_head %}
<script lang="javascript" type="text/javascript"
  src="{{media_url}}js/jquery-1.3.2.min.js"></script>

<script id="source" language="javascript" type="text/javascript">
function plot(element, name) {
    $("#chartarea")[0].style.display = "none";
    var data_url = '{% url analysis_data_base %}' + name + '.json';
  $.getJSON(data_url, {}, function(chart_url) {
      $("#chartarea")[0].style.display = "block";
      var chart_img = '<img src="' + chart_url + '" width="750" height="375" />';
      var chart_csv = '<p style="text-align:center;"><a href="{% url analysis_data_base %}' + name + '.csv">Download as csv</a></p>';
      $("#simplechart")[0].innerHTML = chart_img + chart_csv;
      $("#charttitle")[0].textContent = $.trim(element.textContent);
    }
  );
};
</script>
{% endblock %}

{% block super_content %}
<div class="column span-19 last">
<h2>Graphs</h2>
<h3>Available graphs</h3>
</div>
<div class="column span-5">
<b>User information</b>
  <ul>
  <li>
    <a href="#" onclick="plot(this, 'lang_combined')">
      First language
    </a>
  </li>
  <li>
    <a href="#" onclick="plot(this, 'lang_second')">
      Second language
    </a>
  </li>
  <li>
    <a href="#" onclick="plot(this, 'lang_combined')">Combined languages</a>
  </li>
  <li>
    <a href="#" onclick="plot(this, 'syllabus_volume')">Syllabus by # users</a>
  </li>
</ul>
</div>
<div class="column span-5 prepend-2">
<b>Tests and responses</b>
<ul>
  <li>
    <a href="#" onclick="plot(this, 'test_mean')">Mean score
    by # tests</a>
  </li>
  <li>
    <a href="#" onclick="plot(this, 'test_volume')">Users by #
    tests</a>
  </li>
  <li>
    <a href="#" onclick="plot(this, 'response_volume')">Users by #
    responses</a>
  </li>
  <li>
    <a href="#" onclick="plot(this, 'test_length')">Test length by volume</a>
  </li>
</ul>
</div>
<div class="column span-5 prepend-2 last">
&nbsp;
</div>

<div class="column span-19 last">
  <div id="chartarea" style="display:none;">
    <h3 id="charttitle">Selected graph</h3>
    <div id="simplechart">
    </div>
  </div>
</div>
{% endblock %}
