{% extends "base.html" %}

{% block title %}Usage graphs{% endblock %}

{% block extra_head %}
<style type="text/css">
  ul { margin:0px; padding-left:1.5em;}
</style>
{% endblock %}

{% block super_content %}
<div class="column span-19 last">
<h2>Usage graphs</h2>
</div>
<div class="column span-5">
<b>{{column_1.title}}</b>
<ul>
{% for short_name, desc in column_1.charts %}
  <li>
    <a href="{% url analysis_chart short_name %}">{{desc}}</a>
  </li>
{% endfor %}
</ul>
</div>

<div class="column span-5 prepend-2">
<b>{{column_2.title}}</b>
<ul>
{% for short_name, desc in column_2.charts %}
  <li>
    <a href="{% url analysis_chart short_name %}">{{desc}}</a>
  </li>
{% endfor %}
</ul>
</div>

<div class="column span-5 prepend-2 last">
<b>{{column_3.title}}</b>
<ul>
{% for short_name, desc in column_3.charts %}
  <li>
    <a href="{% url analysis_chart short_name %}">{{desc}}</a>
  </li>
{% endfor %}
</ul>
</div>

{% if chart %}
<div class="column span-19 last">
  <div id="chartarea">
    <h3 id="charttitle" style="text-align:center">{{desc}}</h3>
    <div id="simplechart">
      {% if chart.is_too_long %}
        <p align="center">Sorry, the url for this chart is too long. Try reducing the number of data points.</p>
      {% else %}
        {% autoescape off %}
        <img src="{{chart.get_url}}" width="750" height="375" />
        {% endautoescape %}
      {% endif %}
      <p align="center">
        Available data sets:
        {% for data_name in chart.available_data %}
          <a href="{% url analysis_data_base %}{{name}}_{{data_name}}.csv">
            {{data_name}}
          </a>
          {% if not forloop.last %},{% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
