{% extends "base.html" %}

{% block title %}
Pivot Analysis | 
{% ifequal pivot_type "w" %}Word:{% else %}Kanji:{% endifequal %}
{{pivot}}
{% endblock %}

{% block content %}
<h2>Pivot depth analysis</h2>

<h3>Details</h3>

<table class="span-12 results">
  <tr>
    <th width="25%">Id:</th>
    <td>{{pivot.id}}</td>
  </tr>
  <tr>
    <th>Type:</th>
    <td>{% ifequal pivot_type "w" %}Word{% else %}Kanji{% endifequal %}</td>
  </tr>
{% ifequal pivot_type "w" %}

  <tr>
    <th>Surfaces:</th>
    <td>
      {% if pivot.surface_set.count %}
        <ul class="bottom">
        {% for lexeme_surface in pivot.surface_set.all %}
          <li>{{lexeme_surface.surface}}</li>
        {% endfor %}
        </ul>
      {% else %}
        None
      {% endif %}
    </td>
  </tr>
  <tr>
    <th>Readings:</th>
    <td>
      <ul class="bottom">
      {% for lexeme_reading in pivot.reading_set.all %}
      <li>{{lexeme_reading.reading}}</li>
      {% endfor %}
      </ul>
    </td>
  </tr>
  <tr>
    <th>Senses:</th>
    <td>
      <ul class="bottom">
      {% for sense in pivot.lexeme.sense_set.all %}
        <li>{{sense.gloss}}</li>
      {% endfor %}
      </ul>
    </td>
  </tr>
  
{% else %}

  <tr>
    <th>Kanji:</th>
    <td colspan="2"><p style="font-size:200%; margin:0.5em 0.5em 0.5em 0em">{{pivot.kanji.kanji}}</p></td>
  </tr>
  <tr>
    <th>Gloss:</th>
    <td colspan="2">{{pivot.kanji.gloss}}</td>
  </tr>
  <tr>
    <th>Readings:</th>
    <td>
      <ul class="bottom">
        {% for reading in pivot.reading_set.all %}
          <li>{{reading.reading}}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>

{% endifequal %}

</table>

<h3>Response distributions</h3>

{% for name, chart in response_dists %}
<h4>{{name}}</h4>
<p>
 <img src="{{chart.get_url}}" height="200" width="750">
</p>
{% endfor %}

{% endblock %}