{% extends "base.html" %}

{% block title %}
  Your profile
{% endblock %}

{% block content %}
  <h2>Your profile</h2>

  {% if feedback %}
  <p class="success">{{feedback}}</p>
  {% endif %}
  
  <p>Your current profile is as follows.</p>
  
  <form method="POST">
  {% csrf_token %}
  <table>
    <tr>
      <th>Syllabus:</th>
      <td>
        <select name="syllabus">
          {% for syllabus in syllabi %}
            <option value="{{syllabus}}"
              {% ifequal syllabus profile.syllabus.tag %}
                selected="selected"
              {% endifequal %}
            >{{syllabus}}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th>First language:</th><td>{{profile.first_language}}</td>
    </tr>
    <tr>
      <th>Second languages:</th><td>{{profile.second_languages}}</td>
    </tr>
  </table>
  <input type="submit" value="Save changes" />
  </form>
  
  <form method="GET" action="{% url tutor_dashboard %}">
    <input type="submit" value="Back to dashboard"/>
  </form>
{% endblock %}
