<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Kanji tester | {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{admin_media_url}}css/dashboard.css" />
	{% block extra_head %}{% endblock %}
</head>

<body {% block body_attrs %}{% endblock %}>
  <div id="container">
    <div id="header">
      <div id="branding">
        <h1>Kanji tester</h1>
      </div>
      <div id="user-tools">
        {% block user_tools %}{% endblock %}
      </div>
    </div>
    <div id="content" {% block content_attrs %}class="flex"{% endblock %}>
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
