{% extends "base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block super_content %}
{% if user.is_staff %}
<div id="content" class="column span-14 colborder">
{% else %}
<div id="content" class="column span-19 last">
{% endif %}
  <h2>Dashboard</h2>
  
  <p>Here is where you can monitor your progress and take new tests, or 
  <a href="{% url tutor_about %}">read about</a> the project.</p>

  <h3>Progress on {{user.get_profile.syllabus.tag}}</h3>
  {% if not has_results %}
    <p>No statistics yet. Take a test to get some results.</p>
  {% else %}
    <p>You have taken {{stats.n_tests}} test{{stats.n_tests|pluralize}} so far.</p>
    <table>
      <thead>
        <th>&nbsp;</th><th>Long run</th><th>Most recent test</th>
      </thead>
      <tbody>
      <tr>
        <th># of questions</th>
        <td>{{stats.long_run.n_questions}}</td>
        <td>{{stats.most_recent.n_questions}}</td>
      </tr>
      <tr>
        <th>Accuracy</th>
        <td>{{stats.long_run.pc_correct|floatformat:1}}%</td>
        <td>{{stats.most_recent.pc_correct|floatformat:1}}%</td>
      </tr>
      </tbody>
    </table>
    <table>
    <tr>
    <td>
      <img src="{{word_chart.get_url}}"/>
    </td>
    <td>
      <img src="{{kanji_chart.get_url}}"/>
    </td>
    </tr>
    </table>
  {% endif %}

  <h3>Actions</h3>
  <form method="POST" action="{% url tutor_testuser %}">
  <p>
  <input type="submit" value="Take a test &rarr;">
  (with 
  <select name="n_questions">
    <option value="10" selected="selected">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
  </select> questions)
  </p>
  </form>

  </div>

  {% if user.is_staff %}
  <div class="column span-4 last">
  <h3>Admin panel</h3>
  <ul>
    <li><a href="/admin/">Admin interface</a></li>
    <li><a href="{% url analysis_basic %}">Basic statistics</a></li>
    <li><a href="{% url analysis_charts %}">Usage graphs</a></li>
  </ul>
  </div>
  {% endif %}

{% endblock %}
