{% extends "base.html" %}

{% block title %}
  Test {{syllabus.tag}} knowledge
{% endblock %}

{% block content %}
<h1>Testing {{syllabus.tag}}</h1>
{% if form.has_answers %}
  <p class="score">Your score: {{form.n_correct}}/{{form.n_questions}}</p>
  <form method="POST" action="{% url tutor_study %}" class="navigation">
    <input type="hidden" name="test_set_id" value="{{test_set.id}}">
    <input type="submit" value="Study mistakes"
      {% if all_correct %}disabled="disabled"{% endif %}>
  </form>
  <form method="GET" action="{% url tutor_dashboard %}" class="navigation">
    <input type="submit" value="Back to dashboard">
  </form>
{% else %}
  <p>Please answer the following questions.</p>
  {% if user.is_staff %}
  <p>[{{test_set.get_set_type_display}} set generated in {{time_taken|floatformat:2}} seconds]</p>
  {% endif %}
{% endif %}
<form method="POST">
  <input type="hidden" name="test_set_id" value="{{test_set.id}}">
  <input type="hidden" name="action" value="test">
  <table class="test-set" lang="ja" xml:lang="ja">
  {{form}}
  </table>
{% if form.has_answers %}
</form>
<form method="POST" action="{% url tutor_study %}" class="navigation">
  <input type="hidden" name="test_set_id" value="{{test_set.id}}">
  <input type="submit" value="Study mistakes"
    {% if all_correct %}disabled="disabled"{% endif %}>
</form>
<form method="GET" action="{% url tutor_dashboard %}" class="navigation">
  <input type="submit" value="Back to dashboard">
</form>
{% else %}
  <input type="Submit" value="Check answers">
</form>
{% endif %}
{% endblock %}
