<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description"
    content="
    {% block meta_description %}
    Free online tool for studying JLPT 3 &amp; 4. Automatically generates
    tests you can take to determine your proficiency.
    {% endblock %}
  " />
	<title>{{project_name}} | {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{media_url}}css/blueprint/screen.css"
      type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{media_url}}css/blueprint/print.css"
      type="text/css" media="print">    
  <!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css"
  type="text/css" media="screen, projection"><![endif]-->

  <link rel="stylesheet" href="{{media_url}}css/tutor.css" type="text/css"
    charset="utf-8" />
	{% block extra_head %}
  {% endblock %}
</head>

<body {% block body_attrs %}{% endblock %}>
  <div class="container">
    <div id="header">
      <div id="branding" class="column span-10">
        <a href="/"><h1 class="bottom">{{project_name}}</h1></a>
      </div>
      <div id="user-tools" class="column span-9 last">
        <p class="bottom" style="line-height:1.1em">&nbsp;</p>
        <p class="top bottom" align="right">
        {% block user_tools %}
          {% if user.is_anonymous %}
            <a href="{% url registration_register %}">Register</a> or
            <a href="{% url auth_login %}">Log-in</a>
          {% else %}
            Hello {{user.username}}.
            <a href="{% url auth_logout %}">Log-out</a>
          {% endif %}
        {% endblock %}
        </p>
      </div>
    </div>
    
    <hr />
        
    {% block super_content %}
    <div id="content" class="column span-19 last">
      {% block content %}
      {% endblock %}
    </div>
    {% endblock %}
    
    <hr class="space" />
    
    <hr />
    
    <div id="footer" class="column span-19 last">
      <p class="small quiet" align="center">
        <a class="quiet" href="{% url tutor_about %}">About</a>
        |
        <a class="quiet" href="mailto:lars@yencken.org">Email feedback</a>
        |
        <a class="quiet" href="http://bitbucket.org/lars512/kanji-tester/issues/?status=new&status=open">Report a bug</a>
      </p>
    </div>
  </div>
{% if analytics_code %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{analytics_code}}");
pageTracker._trackPageview();
} catch(err) {}</script>
{% endif %}
</body>
</html>
